{% extends "layout.html" %}
{% load bootstrap3 %}



{%block body_content%} 
 
         <table class="table">
            <thead>
              <tr>
                <th>player</th>
                <th>date joined</th>
              </tr>
            </thead>
            <tbody>
                {% for p in players%}
                    <tr>
                        <td>{{p.name}}</td>
                        <td>{{p.created_at}}</td>
                    </tr>
                {%endfor%}
            </tbody>
          </table>
    
    
{% endblock%}